---
title: Sobre
permalink: /sobre
comments:
---

<!DOCTYPE HTML>
<html>

<head>
    <title>Economia Popular - IPCA</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="title" content="Economia Popular">
    <meta name="description" content="Indicadores Socioeconômicos Simplificados">
    <meta name="keywords"
        content="Economia, Sociologia, Geografia, Estatística, IDH, GINI, Selic, IPCA, INPC, Socioeconômicos, Indices">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Portuguese">
    <meta name="author" content="Matheus Fidelis">
    <meta name="og:image" content="/images/bg.jpg">

    <link rel="icon" class="js-site-favicon" type="image/svg+xml" href="/favicon.ico">

    <link rel="stylesheet" href="/assets/css/main.css" />

    <noscript>
        <link rel="stylesheet" href="/assets/css/noscript.css" />
    </noscript>
</head>

<body lass="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">

            <!-- Sobre -->
            <article id="active" class="active">
                <h2 class="major">Sobre</h2>
                <p>
                    <i>
                        Dedicatória: Projeto de dados abertos, motivado pela eterna memória de <b>Aaron Swartz</b>.
                    </i>
                </p>
                <p>
                    O <b>Economia Popular</b> é um projeto de exploração e agregação de Dados Abertos que nasceu visando
                    dar informação estatística de forma clara, objetiva e atualizada para o povo brasileiro.
                </p>
                <p>
                    Nossa ideia é agregar diversos índices, séries e métricas atualizadas a partir de suas fontes
                    oficiais diariamente, de modo a facilitar o acesso a esses dados de forma objetiva, e <b>deixar
                        claro o real estado da saúde econômica do nosso país</b>, de modo a contribuir para combate de
                    <b>Fake News</b>, <b>manipulações estatísticas</b> na internet e na grande mídia.
                </p>
                <p>
                    O projeto se baseia em diversas técnicas de <b>coleta, tratamento, análises estatísticas, machine
                        learning e correlação de dados</b>, afim de disponibilizar os mesmos em formatos de séries
                    históricas para a grande população, e também para outros economistas, estatísticos e cientistas de
                    dados.
                </p>
                <p>
                    Todos os nossos índices contém links para download dos dados apresentados em diversos formatos, as
                    reais fontes citadas e periodicamente atualizamos os datasets no <b><a
                            href="https://www.kaggle.com/fidelissauro/datasets">Kaggle</a></b> para análise exploratória
                    aberta.
                </p>
                <p>
                    Ele foi criado por <b>Matheus Fidelis</b> no dia 2 de dezembro de 2022, fim de resolver o problema
                    de dispersão de índices e fontes para facilitar seu acompanhamento e análises macroeconômicas para
                    pesquisas acadêmicas na área de <b>Economia</b>, <b>Ciencia de Dados</b> e <b>Analytics</b>. Porém,
                    a ideia se mostrou promissora para outras pessoa e decidiu-se abrir para o grande público para
                    cumprir um papel social maior.
                </p>
                <p>
                    <a target="_blank" href="https://linktr.ee/fidelissauro/">Matheus Fidelis</a> é <b>Engenheiro de
                        Confiabilidade (SRE)</b>, <b>Desenvolvedor Especialista em Tecnologias Cloud Native</b> e
                    entusiasta de <b>Politica</b>, <b>Economia</b>, <b>Ciência de Dados</b>, <b>Machine Learning</b> e
                    <b>Dados Públicos</b>.
                </p>
                <p>
                    Se mantém ativo na comunidade de Software gerando conteúdos em forma de Artigos, Vídeos e diversos
                    projetos de <b>Código Aberto</b>. É apoiador de projetos sociais e ativista do <b>Open Source</b>.
                </p>
                <p><img style="height:20%; width:20%" src="/assets/images/matheus.png" alt="Matheus Fidelis"></p>
                <br>
                <h3>Nossas Redes</h3>
                <ul class="icons">
                    <li><a href="https://twitter.com/fidelissauro" class="icon brands fa-twitter" target="_blank"><span
                                class="label">Twitter</span></a></li>
                    <li><a href="https://instagram.com/fidelissauro" class="icon brands fa-instagram"
                            target="_blank"><span class="label">Instagram</span></a></li>
                    <li><a href="https://github.com/msfidelis" class="icon brands fa-github" target="_blank"><span
                                class="label">GitHub</span></a></li>
                    <li><a href="https://www.kaggle.com/fidelissauro/datasets" class="icon brands fa-kaggle"
                            target="_blank"><span class="label">Kaggle</span></a></li>
                </ul>
            </article>


        </div>

        {% include footer.html %}

    </div>

    <!-- BG -->
    <div id="bg"></div>

    <!-- Scripts -->
    {% include js.html %}

    {% include analytics.html %}
    {% include og.html %}

    <script>
        document.getElementById("main").style.display = null;
        document.getElementById("active").style.display = null;
    </script>

</body>

</html>