---
title: Indicadores Sociais
permalink: /sociais
comments:
layout: indice.html
---

<!DOCTYPE HTML>
<html>

<head>
    <title>Economia Popular - Indicadores Sociais</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="title" content="Economia Popular - Indicadores Sociais">
    <meta name="description" content="Indicadores Socioeconômicos Simplificados">
    <meta name="keywords"
        content="Economia, Sociologia, Geografia, Estatística, IDH, GINI, Selic, IPCA, INPC, Socioeconômicos, Indices">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Portuguese">
    <meta name="author" content="Matheus Fidelis">
    <meta name="og:image" content="/images/bg.jpg">

    <link rel="icon" class="js-site-favicon" type="image/svg+xml" href="/favicon.ico">

    <link rel="stylesheet" href="/assets/css/main.css" />

    <noscript>
        <link rel="stylesheet" href="/assets/css/noscript.css" />
    </noscript>
</head>

<body lass="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">

            <!-- Sobre -->
            <article id="active" class="active">
                <h1 class="major">Indicadores Sociais do Brasil</h1>
                <p>
                    O objetivo dessa página é trazer um compilado dos principais indicadores sociais do Brasil, utilizando diversas fontes de dados como Estimativa Populacional, Taxa de Desocupação (Desemprego), Salário Mínimo, Renda média entre outros. 
                </p>
                <h1>Estimativa Populacional</h1>
                <p>
                    <canvas id="populacao-estimativa" style="height:50vh; width:80vw"></canvas>
                </p>
                <br>

                <h1>Desemprego - Taxa de Desocupação</h1>
                <p>
                    <canvas id="desemprego" style="height:50vh; width:80vw"></canvas>
                </p>
                <br>
                <h1>Salário Minimo</h1>
                <p>
                    <canvas id="salario-minimo" style="height:50vh; width:80vw"></canvas>
                </p>

                <h1>Renda Média Mensal</h1>
                <p>
                    <canvas id="renda-media" style="height:50vh; width:80vw"></canvas>
                </p>

                <br>
                <h1>Pobreza e Miséria</h1>
                <h2>Indicadores - Cadastro Único</h2>
                <p>Indices compilados e baseados através dos dados do <b>Cadastro Único</b> fornecidos através do
                    <b>DadosGov</b> e do portal da <b>Cidadania de Benecifios Populares</b>
                </p>
                <p>O <b>Cadastro Único</b> se baseia em faixas saláriais para classificar o número de pessoas entre
                    <b>Pobreza</b> e <b>Extrema Pobreza</b>
                </p>
                <p>
                    <b>Extrema Pobreza:</b> Famílias com renda de até <b>R$ R$ 105,00</b> por pessoa
                    <br>
                    <b>Pobreza:</b> Famílias com renda de <b>R$ 105,01</b> até <b> R$ 210,00</b> por pessoa <br>
                    <a target="_blank" href="https://www.gov.br/cidadania/pt-br/auxilio-brasil">Fonte do Critério:
                        Auxilio Brasil</a>

                </p>
                <p>
                    <canvas id="pobreza-variacao" style="height:50vh; width:80vw"></canvas>
                </p>

                <p>
                    <canvas id="pobreza-porcentagem" style="height:50vh; width:80vw"></canvas>
                </p>

                <p>
                    <canvas id="pobreza-evolucao" style="height:50vh; width:80vw"></canvas>
                </p>

                <p>
                    <canvas id="pobreza-familia" style="height:50vh; width:80vw"></canvas>
                </p>

                <p>
                    <canvas id="pobreza-indigena" style="height:50vh; width:80vw"></canvas>
                </p>

                <p>
                    <canvas id="pobreza-quilombolas" style="height:50vh; width:80vw"></canvas>
                </p>

                <p>
                    <canvas id="pobreza-ciganos" style="height:50vh; width:80vw"></canvas>
                </p>

                <div id="pobreza-grid" style="height:60vh; width:100%" class="ag-theme-alpine-dark"></div>
                <br><br>
                <h3>Datasets</h3>
                <a href="https://economia-popular-delivery-content-indices.s3.amazonaws.com/sociais/indices_pobreza_consolidado.json"
                    target="_blank" class="button primary icon solid fa-download" download>JSON</a>
                <a href="https://economia-popular-delivery-content-indices.s3.amazonaws.com/sociais/indices_pobreza_consolidado.csv"
                    target="_blank" class="button primary icon solid fa-download" download>CSV</a>
                <a href="https://www.kaggle.com/datasets/fidelissauro/indices-pobreza-brasil" target="_blank"
                    class="button primary icon solid fa-download" download>Kaggle</a>
                <p></p><br>

                <h2>Auxilio Brasil - Cadastro Único</h2>
                <p>
                    O Auxílio Brasil integra em apenas um programa várias políticas públicas de assistência social,
                    saúde, educação, emprego e renda. O novo programa social de transferência direta e indireta de renda
                    é destinado às famílias em situação de pobreza e de extrema pobreza em todo o país. Além de garantir
                    uma renda básica a essas famílias, o programa busca simplificar a cesta de benefícios e estimular a
                    emancipação dessas famílias para que alcancem autonomia e superem situações de vulnerabilidade
                    social.
                </p>
                <p>
                    O Auxílio Brasil é coordenado pelo <b>Ministério da Cidadania</b>, responsável por gerenciar os
                    benefícios do programa e o envio de recursos para pagamento.
                </p>

                <p>
                    <canvas id="auxilio-brasil-variacao" style="height:50vh; width:80vw"></canvas>
                </p>

                <p>
                    <canvas id="auxilio-brasil-cobertura" style="height:50vh; width:80vw"></canvas>
                </p>

                <p>
                    <canvas id="auxilio-brasil-valor" style="height:50vh; width:80vw"></canvas>
                </p>

                <p>
                    <canvas id="auxilio-brasil-valor-total" style="height:50vh; width:80vw"></canvas>
                </p>


                <div id="auxilio-brasil-grid" style="height:60vh; width:100%" class="ag-theme-alpine-dark"></div>
                <br><br>
                <h3>Datasets</h3>
                <a href="https://economia-popular-delivery-content-indices.s3.amazonaws.com/sociais/auxilio_brasil_consolido.json"
                    target="_blank" class="button primary icon solid fa-download" download>JSON</a>
                <a href="https://economia-popular-delivery-content-indices.s3.amazonaws.com/sociais/auxilio_brasil_consolido.csv"
                    target="_blank" class="button primary icon solid fa-download" download>CSV</a>
                <p></p><br>


                <h3>Fonte Oficial: </h3>
                <div class="fonte-social"></div>
                <br><br>
                <h3>Ultima atualização: </h3>
                <div class="atualizacao-social"></div>
            </article>


        </div>

        {% include footer.html %}

    </div>

    <!-- BG -->
    <div id="bg"></div>

    <!-- Scripts -->
    {% include js.html %}

    <!-- Page Script -->
    <script src="/assets/js/pobreza.js"></script>
    <script src="/assets/js/auxilio-brasil.js"></script>

    <!-- Tags -->
    {% include analytics.html %}
    {% include og.html %}



    <script>
        document.getElementById("main").style.display = null;
        document.getElementById("active").style.display = null;
    </script>

</body>

</html>