<!-- Footer -->
<footer id="footer">
    <p class="copyright">&copy; Economia Popular.</p>
    <p class="copyright">Created by <a href="https://linktr.ee/fidelissauro">Matheus Fidelis</a></p>
    <!-- <p class="copyright">Photo by <a href="https://unsplash.com/@juniorreisfoto?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Junior REIS</a> on <a href="https://unsplash.com/s/photos/Indio?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p> -->
</footer>