<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="title" content="Economia Popular">
<meta name="description" content="Indicadores Socioeconômicos Simplificados">
<meta name="keywords"
    content="Economia, Sociologia, Geografia, Estatística, IDH, GINI, Selic, IPCA, INPC, Socioeconômicos, Indices">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="Portuguese">
<meta name="author" content="Matheus Fidelis">
<meta name="og:image" content="/assets/images/bg.jpg">

<link rel="stylesheet" href="/assets/css/main.css" />
<link rel="icon" class="js-site-favicon" type="image/svg+xml" href="/favicon.ico">

<noscript>
    <link rel="stylesheet" href="/assets/css/noscript.css" />
</noscript>